@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-3">
    <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-color">Shuffle</button>
    </div>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>Pickup</th>
                <th>Destination</th>
                <th>Group</th>
                <th>Crew Commander</th>
                <th>Lead Vehicle</th>
                <th>Chase Vehicle</th>
            
            </tr>
        </thead>
        <tbody>
    
            <tr >
                <td>Connaught Place, Delhi</td>
                <td>Chandni Chowk, Delhi</td>
                <td rowspan="3" >Group1</td>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td>Karol Bagh, Delhi</td>
                <td>Chandni Chowk, Delhi</td>
              
            </tr>
            <tr>
                <td>MG Road, Bengaluru</td>
                <td>Koramangala, Bengaluru</td>

            </tr>
   
            <tr>
                <td>Indiranagar</td>
                <td>Jayanagar</td>
                <td rowspan="3">Group2</td>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td>Marine Drive, Mumbai</td>
                <td>Fort, Mumba</td>
             
            </tr>
            <tr>
                <td>Salt Lake, Kolkata</td>
                <td>Howrah, Kolkata</td>
              
            </tr>
            <tr>
                <td>Anna Nagar, Chennai</td>
                <td>T Nagar, Chennai</td>
                <td rowspan="3">Group3</td>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
                <td rowspan="3"></td>
            </tr>
            <tr>
                <td>Sector 18, Noida</td>
                <td>Sector 62, Noida</td>
             
            </tr>
            <tr>
                <td>Karol Bagh, Delhi</td>
                <td>Chandni Chowk, Delhi</td>
               
            </tr>
      
        </tbody>
    </table>
</div>