@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="tab-container mt-3" style="width: 100% ;" >
    <div class="text-end">
        <button class="btn btn-primary group-button">Group Button</button>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th></th>
                <th>PickUp</th>
                <th>Delivery</th>
                <th>Recipient</th>
                <th>Crew Commander</th>
                <th>Lead Vehicle</th>
                <th>Chase Vehicle</th>
                <th>Time</th>
                <th>Status</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <!-- Standing Order Header -->
            <tr class="order-header">
                <td colspan="10" class="subheader-cell">Standing Order</td>
            </tr>

            <!-- First Order -->
            <tr class="order-subheader">
                <td colspan="10" class="standing-order-no">T935265</td>
            </tr>
            <tr class="table-border">
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Connaught Place, Delhi</td>
                <td>Chandni Chowk, Delhi</td>
                <td>ABC Bank, Chandni</td>
                <td></td>
                <td></td>
                <td></td>
                <td>10:00 AM</td>
                <td>Unassigned</td>
                <td>ATM</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Karol Bagh, Delhi</td>
                <td>Chandni Chowk, Delhi</td>
                <td>ABC Bank, Chandni</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Unassigned</td>
                <td>ATM</td>
            </tr>

            <!-- Second Order -->
            <tr class="order-subheader">
                <td colspan="10" class="standing-order-no">T235483</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>MG Road, Bengaluru</td>
                <td>Koramangala, Bengaluru</td>
                <td>XYZ Pvt Ltd, Koram</td>
                <td></td>
                <td></td>
                <td></td>
                <td>11:30 AM</td>
                <td>Unassigned</td>
                <td>CIT</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Indiranagar</td>
                <td>Jayanagar</td>
                <td>XYZ Pvt Ltd, Koram</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Unassigned</td>
                <td>CIT</td>
            </tr>

            <!-- Scheduled Order Header -->
            <tr class="order-header">
                <td colspan="10" class="subheader-cell">Scheduled Order</td>
            </tr>


            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Marine Drive, Mumbai</td>
                <td>Fort, Mumbai</td>
                <td>DEF Corp, Fort</td>
                <td></td>
                <td></td>
                <td></td>
                <td>1:15 PM</td>
                <td>Unassigned</td>
                <td>CIT</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Salt Lake, Kolkata</td>
                <td>Howrah, Kolkata</td>
                <td>GHI Bank, Howrah</td>
                <td></td>
                <td></td>
                <td></td>
                <td>3:00 PM</td>
                <td>Unassigned</td>
                <td>Airlift</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Anna Nagar, Chennai</td>
                <td>T Nagar, Chennai</td>
                <td>JKL Ltd, T Nagar</td>
                <td></td>
                <td></td>
                <td></td>
                <td>9:45 AM</td>
                <td>Unassigned</td>
                <td>ATM</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="row-checkbox"></td>
                <td>Sector 18, Noida</td>
                <td>Sector 62, Noida</td>
                <td>MNO Inc, Sec 62</td>
                <td></td>
                <td></td>
                <td></td>
                <td>2:30 PM</td>
                <td>Unassigned</td>
                <td>CIT</td>
            </tr>
        </tbody>
    </table>

</div>

