html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #4674ee !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.choices .choices__input {
    padding: 10px !important;
}


.task-cart-container {
    margin: 20px;
    border: 2px solid #f2eded;
}


.form-container {
    background-color: #ffffff; /* White background for the form */
    border: 2px solid #4674ee; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */

    margin: auto;
}

.form-label {
    font-weight: bold; /* Bold labels */
    color: #333; /* Darker text color for labels */
}

.form-select, .form-control, .form-check-input {
    border-radius: 5px; /* Slightly rounded inputs */
}

.form-check-label {
    margin-left: 10px; /* Space between checkbox/toggle and label */
    color: #555; /* Slightly lighter text for check labels */
}

.form-check-input:checked {
    background-color: rgba(18,36,84,255) !important; /* Blue color for checked boxes */
    border-color: rgba(18,36,84,255) !important;
}

.btn-primary {
    background-color: #007bff; /* Custom button color */
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3; /* Darker blue on hover */
        border-color: #004085;
    }

.btn-color {
    background-color: #4674ee !important;
    color: white !important;
}



    @media (max-width:668px) {
        .form-container {
            width: 100% !important;
        }
    }



/*************************************** Login form CSS *********************************/
.main-form-content {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 5em auto;
    display: flex;
}

.company__info {
    background-color: #008080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.fa-android {
    font-size: 3em;
}

@media screen and (max-width: 640px) {
    .main-form-content {
        width: 90%;
    }

    .company__info {
        display: none;
    }

    .login__form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (min-width: 642px) and (max-width:800px) {
    .main-form-content {
        width: 70%;
    }
}

@media screen and (min-width: 300px) and (max-width:642px) {
    .main-form-content {
        width: 90%;
    }
}

.row > h2 {
    color: #008080;
}

.login__form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

form {
    padding: 0 2em;
}

.form__input {
    width: 89%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
}

    .form__input:focus {
        border-bottom-color: #008080;
        box-shadow: 0 0 5px rgba(0,80,80,.4);
        border-radius: 4px;
    }

.form-btn-data {
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

    .form-btn-data:hover, .form-btn-data:focus {
        background-color: #008080;
        color: #fff;
    }

/**************************************************************************************/
