<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fargo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fargo.styles.css" asp-append-version="true" />


    @* <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">

    <style>
        .side-navbar.closed {
            display: none;
            transition: transform 0.3s ease;
        }

        .full-width {
            width: 100%;
        }

        .repeats-section {
            display: none;
        }

        #isVaultFinalContainer {
            display: none;
        }

        .btn-color {
            background: #132553 !important;
            color: white !important;
        }

      /*   .modal-title {
            color: #007bff;
        }

        .modal-body {
            font-size: 1.1rem;
        } */

        .input-group {
            display: flex !important;
            align-items: center !important;
        }

     

        .form-select {
            flex-grow: 1 !important;
        }
       
        .choices__inner{
            height: 20px !important;
            padding: 0px !important;
        }

      
    </style>


</head>
<body>
    <div class="container-fluid">
        <!-- navbar -->
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-light bg-light justify-content-between" style="position:fixed; z-index:1000;width:100%; ">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-link p-0 me-3 ms-4 fs-4"
                                type="button"
                                id="toggleSidebar"
                                aria-controls="offcanvasExample"
                                style="text-decoration: none; color: black">
                            <i class="bi bi-list"></i>
                        </button>
                        <a class="navbar-brand d-flex align-items-center" href="#">
                            <img src="~/assets/Images/logomain.png"
                                 alt="Logo"
                                 class="me-2"
                                 height="30px"
                                 style="mix-blend-mode: multiply" />
                            <span>Fargo</span>
                        </a>
                    </div>
                    <div class="d-flex">
                        <a href="#" class="ms-3  text-center text-black" style="margin-right:20px !important; text-decoration:none">Active Tasks</a>
                    </div>
                    <div class="nav-icon-data  d-flex align-items-center">
                        <a class="nav-link me-3 text-black" href="#">
                            <i class="bi bi-arrow-clockwise"></i> Refresh
                        </a>
                        <a class="nav-link me-3 text-black" href="#"><i class="bi bi-journal-text"></i> Learn</a>
                  

                        <i class="bi bi-plus-circle-fill me-3"></i>
                    
                        
                        <i class="bi bi-file-earmark-arrow-up me-3"></i>
                        <i class="bi bi-gear me-3"></i>
                        <i class="bi bi-question-circle-fill me-3"></i>
                    </div>
                </nav>
            </div>
        
        </div>

        <!-- navbar end -->

        <div class="row flex-nowrap">
            <div class="d-flex" style="margin-top:55px">
                <!-- Side Bar -->
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 side-navbar open closed"
                     id="sidebar"
                     style="width: auto">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-0 text-white min-vh-90">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu">
                            <li class="nav-item mt-1">
                                <a href="#"
                                   class="nav-link px-0 align-middle"
                                   style="padding: 0px">
                                    <div class="dropdown">
                                        <a href="#"
                                           class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                           id="dropdownUser1"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false"
                                           style="
                                             margin-top: 20px !important;
                                              padding: 0px !important;
                                             ">
                                            <img src="/assets/Images/avatar.png"
                                                 alt="hugenerd"
                                                 width="30"
                                                 height="30"
                                                 class="rounded-circle" />
                                            <span class="text-dark ms-2 ms-1 ">Hariom User</span>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
                                            style="    background: floralwhite;">
                                            <li>
                                                <a class="dropdown-item text-white" href="#">New project...</a>
                                            </li>
                                            <li><a class="dropdown-item text-white" href="#">Settings</a></li>
                                            <li><a class="dropdown-item text-white" href="#">Profile</a></li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li><a class="dropdown-item text-white" asp-action="Login" asp-controller="Account">Sign out</a></li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                            <hr class="user" />
                            <li class="nav-item mt-1">
                                <a asp-action="Overview" asp-controller="Dashboard" class="nav-link align-middle px-0 active">
                                    <i class=" bi-speedometer2"></i>
                                    <span class="ms-1 ">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                   class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false"
                                   asp-action="Index" asp-controller="Task"
                                >
                                    <i class="bi bi-list-task"></i>
                                    <span class="ms-1 ">Task</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Calendar"
                                class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-calendar-date"></i>
                                    <span class="ms-1">Calendar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#"
                                   data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false"
                                   class="nav-link px-0 align-middle">
                                    <i class="bi bi-graph-up-arrow"></i>
                                    <span class="ms-1 ">Analytics</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#"
                                   data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false"
                                   class="nav-link px-0 align-middle">
                                    <i class="bi bi-people-fill"></i>
                                    <span class="ms-1 ">Users</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-person-fill-add"></i>
                                    <span class="ms-1 ">Roster</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-car-front-fill"></i>
                                    <span class="ms-1 ">Vehicles</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-bookmark-check"></i>
                                    <span class="ms-1 ">Inspections</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-houses-fill"></i>
                                    <span class="ms-1 ">Merchants</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-person-square"></i>
                                    <span class="ms-1">Contacts</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-bag"></i>
                                    <span class="ms-1 ">Products</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-wrench"></i>

                                    <span class="ms-1 ">Extensions</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="nav"
                                   role="nav"
                                   aria-selected="false">
                                    <i class="bi bi-gear-fill"></i>

                                    <span class="ms-1  ">Settings</span>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                    @* <hr class="vertical-hr" style="height:auto;" /> *@
                </div>
                <!-- End Side Bar -->
                @* <hr class="vertical-hr" style="height:auto;"/> *@
                <div id="mainContent" style="width: 100%">
                    <!-- Tab -->
                   
                    <!-- Tab End -->

                    <div class="ms-1 me-1">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  @*    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sidebar = document.getElementById("sidebar");
        const toggleSidebarBtn = document.getElementById("toggleSidebar");
        const mainContent = document.getElementById("mainContent");

        function toggleSidebar() {
                sidebar.classList.toggle("closed");
          mainContent.classList.toggle("full-width");
        }

        function handleResize() {
          if (window.innerWidth <= 1158) {
            sidebar.classList.add("closed");
            mainContent.classList.add("full-width");
          } else {
                    sidebar.classList.remove("closed");
            mainContent.classList.remove("full-width");
          }
        }

        toggleSidebarBtn.addEventListener("click", toggleSidebar);
        window.addEventListener("resize", handleResize);

        // Initial check
        handleResize();

        // Set active classes for navigation
        const navLinks = document.querySelectorAll(".nav-link");
        navLinks.forEach((link) => {
          link.addEventListener("click", () => {
            navLinks.forEach((item) => item.classList.remove("active"));
            link.classList.add("active");
          });
        });
      });
    </script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
        const multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount: 5,
            searchResultLimit: 5,
            renderChoiceLimit: 5
        });

         const choices1 = new Choices('#requesterName', { searchEnabled: true });
         const choices2 = new Choices('#pickupLocation', { searchEnabled: true });
         const choices3 = new Choices('#recipientName', { searchEnabled: true });
         const choices4 = new Choices('#deliveryLocation', { searchEnabled: true });
    </script>

    @* *****************************Group Button Js*************************************** *@

  @*   <script>


        document.querySelector('.group-button').addEventListener('click', function () {
            // Remove the 'group-3d' class from all rows initially
            document.querySelectorAll('tr').forEach(function (row) {
                row.classList.remove('group-3d');
            });

            // Apply the 'group-3d' class to rows with checked checkboxes
            document.querySelectorAll('.row-checkbox:checked').forEach(function (checkbox) {
                var row = checkbox.closest('tr');
                row.classList.add('group-3d');
            });
        });

    </script> *@
    @* ************************************************************************************ *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
